/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100vh; /* Ensure it takes at least the full viewport height */
  width: 100%; /* Ensure it takes the full viewport width */
  display: flex; /* Allows content to expand if needed */
  flex-direction: column; /* Stacks children vertically */
}
